.slider__item img {
    transition: .3s all ease-in-out;
}

.slider__item:hover img {
    transform: scale(1.02);
    z-index: 9999;
    cursor: pointer;
}

.slider__root {
    margin-top: 1rem;
}

.slider__root .swiper-pagination {
    position: initial;
    margin-top: 1.5rem;
}

.title {

    position: absolute;
    bottom: 5%;
    left: 5%;
    font-family: Comic Sans MS;
    color: #ffffff;
    font-size: 25px;
    font-weight: 900;

}

.ant-modal-close-x {
    line-height: 33px;
}

.ant-modal-header {
    padding: 10px 24px;
}

.ant-modal-body {
    padding: 10px;
}

.titltPadding {
    padding: 0px 15px 15px 15px;
}

.btn {
    position: absolute;
    bottom: 46%;
    left: 46%;

}